<h1>Application Form</h1>
<form [formGroup]="applicationForm">
  <label>
    Full Name:
    <input type="text" formControlName="nameControl" />
  </label>
  <br />
  <br />
  <label>
    Favorite Hobby:
    <input type="text" formControlName="hobbyControl" />
  </label>
  <br />
  <br />
  <label
    >Can we contact you?
    <input type="checkbox" formControlName="canContacted" />
  </label>
  <div *ngIf="applicationForm.get('canContacted')?.value">
    <h2>Contact Info</h2>
    <div formGroupName="contactInfo">
      <label>
        Email:
        <input type="text" formControlName="email" />
      </label>
      <br />
      <br />
      <label>
        Phone Number:
        <input type="text" formControlName="phoneNumber" />
      </label>
    </div>
    <br />
  </div>
  <button type="submit">Apply</button>
</form>
